

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index EJS</title>
</head>
<body>
    
    <!-- per recuperare il parametro devo conoscere il nome metto il nome del parametro -->
    <h1><%=data%></h1>

</body>
</html>